@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

nav ul li a:hover {
    color: #B17457;
    transform: scale(1.1);
}

section.information {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    padding: 60px;
    width: 100%;
    background-color: #d06822;
}

.text {
    max-width: 600px;
    flex-direction: column;
    gap: 15px;
    display: flex;
    margin: 80px 0 0 0;
    color: white;
}

.serve {
    display: block;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.1;
}

section.information img {
    width: 50%;
    height: auto;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 20px;
}

section.information .sell {
    font-size: 1.2rem;
    line-height: 1.5;
    position: absolute;
    bottom: 10rem;
    list-style: none;
    display: flex;
    gap: 40px;
    z-index: 2;
}

section.information .sell li a {
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 20px;
}

section.information .sell li a:hover {
    color: white;
    transform: scale(1.1);
    background-color: #B17457;
}

section.menu {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 20%;
}

section.menu h2 {
    font-size: 2.5rem;
    color: #d06822;
}

.menu-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.menu-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.menu-card img {
    width: 100%;
    height: auto;
}

.menu-card .menu-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.menu-card .menu-info p {
    flex-grow: 1;
    text-align: justify;
    font-size: 0.9rem;
    display: flex;
    line-height: 1.4rem;
}

.menu-card .menu-info h3 {
    font-size: 1.2rem;
    color: #d06822;
    min-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}