* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* min-height: 100vh; */
  height: 4000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  outline: 2px dotted black;
  outline-offset: 30px;
}

.text p {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  text-decoration: line-through rgb(60, 43, 255) dashed 10px;
}


p.fixed {
    position: sticky;
    right: 0px;
    bottom: 0px;
}