@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans";
}

header {
    display: flex;
    min-height: 10vh;
    max-width: 100%;
    justify-content: space-between;
    padding: 10px;
}

header span.title {
    font-weight: 600;
    font-size: 1.6em;
}

header nav {
    min-height: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px 10px 0 10px;
}

header nav li {
    color: rgb(86, 86, 86);
    align-items: center;
}

header .link {
    min-width: auto;
    min-height: auto;
    padding: 10px;
}

header .link span.testing {
    font-weight: 500;
    font-size: 1em;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

section {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
}

section .description {
    max-width: 24%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 10px 10px 20px;
}

section .costumer-id {
    display: flex;
    margin: 0;
    padding: 20px;
    gap: 20px;
}

section .costumer-id input {
    text-align: center;
    border-radius: 12px;
    font-weight: 500;
}

section .costumer-id button {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 12px;
    font-weight: 500;
}

section img {
    width: 40rem;
    position: fixed;
    right: 20px;
}