@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lora', serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.website-title h1 {
    font-family: 'Bodoni Moda', serif;
    font-size: 2.5rem;
    color: #333;
    padding: 0 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding-right: 30px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}

header nav ul li a:hover {
    color: white;
    background-color: #2C2C2B;
    transform: scale(1.2);
}

.page1 {
    width: 100%;
    height: 80vh;
    background: url(source/room1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 0 120px;
}

.page1 .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding-left: 60px;
}

.page1 .text .description {
    display: grid;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: #2C2C2B 0 2px 4px;
    padding: 20px;
    border-radius: 10px;
    max-width: 50%;
}

.page1 .title {
    text-align: left;
    font-size: 2.7rem;
    font-weight: 600;
    font-family: 'Bodoni Moda', serif;
    color: #2C2C2B;
}

.page1 .sub-title {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'lora', serif;
    color: #2C2C2B;
    left: 50px;
    max-width: 100%;
}

.page1 .link {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
}

.page1 .link a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #2C2C2B;
}

.page1 .link a:hover {
    color: #2C2C2B;
    background-color: rgba(255, 255, 255, 0.9);
}

.information {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0 0 0;
}

.information .card {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.information .info {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr auto;
    padding: 20px 40px;
    flex: 1;
}

.information .info:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
    width: 2px;
    background: linear-gradient(
        to bottom,
        transparent,
        rgba(44, 44, 43, 0.5),
        transparent
    );
}

.information .info h3 {
    font-size: 2rem;
    font-family: 'bodoni moda';
}

.information .info span {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-family: 'lora';
}

.information .info a {
    text-decoration: none;
    color: #2C2C2B;
    font-family: 'lora', serif;
    transition: all 0.3s ease;
    padding: 5px;
    border-radius: 2px;
    font-weight: 600;
}

.information .info a:hover {
    background-color: #2C2C2B;
    color: white;
}

.last {
    width: 100%;
    height: 360px;
    max-height: 30%;
    display: grid;
    grid-template-columns: 60px 1fr 1fr;
    margin-top: 80px;
}

.last .text {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
    width: 500px;
}

.last .text .description {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.last .description .title {
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
    font-size: 2rem;
    max-width: 400px;
}

.last span.link a {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #2C2C2B;
    transition: all 0.3s ease;
    font-weight: 600;
}

.last span.link a:hover {
    background-color: #2C2C2B;
    color: white;
}

.last img {
    width: 400px;
    position: relative;
    justify-self: end;
    right: 20px;
    border-radius: 0 230px 0 30px;
    grid-column: 3;
    margin: 20px 60px 0 0;
}

footer {
    width: 100%;
    background-color: #2C2C2B;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    color: rgba(255, 255, 255);
    font-family: 'Bodoni Moda', serif;
    font-weight: 500;
    font-size: 8px;
}