@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e3df;
}

.profile-card {
    max-width: 340px;
    width: 100%;
    background-color: #EAE0CF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{ 
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #213448;
    padding: 3px;
}

.img img.profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
    color: #213448;
}

.media-buttons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.media-buttons a img.instagram-icon{
    width: 40px;
    height: 40px;
    background-color: #213448;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}